.auth-button{
    font-size: 16px;
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: transparent;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border: 2px solid black;
    box-shadow: 3px 2px 5px 0px #002141;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover{
        color: green;
        border: 2px solid green;
    }
}