.item-cars{
    margin: 25px auto;
    padding: 10px 0;
    width: 300px;
     .name {
         text-align: center;
         text-transform: uppercase;
         font-size: 20px;
         font-weight: 700;
         span {
             margin-left: 5px;
         }
     }
     .options{
         margin-top: 15px;
         display: flex;
         justify-content: space-evenly;
         .car-type {
             text-align: center;
             font-size: 14px;
             font-weight: 600;
             letter-spacing: 1px;
             span{           
                display: block;
                font-size: 20px;
             }
         }
     }
     img {
         cursor: pointer;
         width: 100%;
         height: auto;
     }
     .price {
         text-align: center;
         text-transform: uppercase;
         font-size: 14px;
         font-weight: 600;
         span {
             font-size: 25px;
         }
     }
     .info-btn{
         display: flex;
         margin:30px 0;
         justify-content: space-evenly;
         margin-bottom: 30px;
         p {
             text-align: center;
             text-transform: uppercase;
             font-size: 14px;
             font-weight: 700;
             border: 1px solid black;
             padding: 5px 20px;
             cursor: pointer;
             a {
                 text-decoration: none;
                 color: black;
             }
         }
     }
 }
 