.card-wrapper {
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 100%;
        height: auto;
    }
    p {
         text-align: center;
         margin:20px auto 100px auto;
         border: 1px solid black;
         width: 220px;
         padding: 12px;
         font-size: 14px;
         text-transform: uppercase;
         cursor: pointer;
    }
 }