  .home-title{
        text-align: center;
        padding-top: 30px;
        text-transform: uppercase;
        font-size: 25px;
        letter-spacing: 1.5px;
    }
    .offer-counter{
        text-align: center;
        padding: 25px 0 20px 0;
        font-size: 20px;
    }
    .title-search{
        text-align: center;
        margin-bottom: 20px;
        height: 40px;
        h1 {
            text-transform: uppercase;
        }
    }
    .line {
        background-color: black;
        margin:0 auto 25px auto;
        width: 70%;
        height: 2px;
    }
    .subtitle {
        text-align: center;
        padding: 10px 0 30px 0;
        font-size: 18px;
        text-transform: lowercase;
        font-weight: 600;
        letter-spacing: .5px;
    }
    .offers-list{
        display: flex;
    }
    .offers-btn{
        text-align: center;
        margin: auto;
        border: 1px solid black;
        width: 220px;
        padding: 12px;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;
        a {
            text-decoration: none;
            color: black;
        }
    }
    .slogan {
        text-align: center;
        margin: 80px auto 15px auto;
        text-transform: uppercase;
        font-size: 24px;
        letter-spacing: 1.5px;
    }
    .sorting-section{
        display: flex;
        width: 950px;
        margin: 25px auto 0 auto;
        justify-content: space-evenly;
        flex-wrap: wrap;      
    }

@media (max-width: 420px) {
    .sorting-section { 
        width: 90%;
    }
    .line {
        width: 70%;
    }
}