.rent-page-wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 90%;
    margin: 5% auto 0 auto;
}

.rent-wrapper{
    margin:25px auto;
    width: 400px;
    h3 {
        text-align: center;
        font-size: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    p {
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        text-transform: lowercase;
        margin: 5px 0 35px 0;
    }
    .rent-form{
        margin: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        input[type=text]{
            background-color: transparent;
            padding: 15px 10px 3px 25px;
            border: none;
            outline: none;
            border-bottom: 2px solid black;
            background-color: transparent;
            margin-bottom: 10px;
        }
        input[type=submit]{
            font-size: 16px;
            width: 100%;
            margin-top: 30px;
            padding: 10px;
            margin-bottom: 5px;
            background-color: transparent;
            outline: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
            border: 2px solid black;
            box-shadow: 3px 2px 5px 0px #002141;
            cursor: pointer;
            transition: all .3s ease-in-out;
        }
        .back-login{
            font-size: 16px;
            width: 100%;
            margin-top: 30px;
            padding: 10px;
            margin-bottom: 5px;
            background-color: transparent;
            outline: none;       
            border: 2px solid black;
            box-shadow: 3px 2px 5px 0px #002141;
            cursor: pointer;
            transition: all .3s ease-in-out;
            a {
                color: black;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 700;
            }
        }
    }
}

@media (max-width: 420px) {
    .rent-page-wrapper{
        width: 90%;
    }
    .rent-wrapper{
        width: 90%;
        .rent-form{
            width: 100%;
        }
    }
}